<html>
        <head>
            <title>My Django blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        </head>
        <body>
            <div>
                <h1 align="center"><a href="">My Django blog</a></h1>
            </div>
	{% for post in posts %}
		<div>
            <hr />
			<p>published: {{ post.published_date }}</p>
			<h1><a href="">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaksbr }}</p>
            <hr />
        </div>
	{% endfor %}
        </body>
</html>
